/**** Container ****/
body {
	color:#777;
	font-size:15px;
}

/**** Container ****/
#admin-container {
	min-width:1000px;	
}

/**** Header ****/
#admin-header {
	background:#ddd;
	height:30px;
	padding:5px 10px;	
	position:relative;
}

#admin-logo {
	float:left;
	margin-right:30px;
	color:#000;
	font-size:30px;
	line-height:30px;
}
#admin-logo a, #admin-logo:hover {
	color:#000;
	text-decoration:none;	
}

#admin-login {
	width:350px;
	margin:50px auto;
}

/**** Content ****/
#admin-content {
	padding:20px;
	min-height:350px;
}

/**** Headings ****/
h1, h2, h3, h4, h5, h6  {
	font-weight:bold;
	display:block;
	padding:0px;
	margin:0px;
	color:#222;
}

h1 {
	font-size:20px;
	font-weight:normal;
	line-height:20px;
	margin:0px 0px 10px 0px;
	border-bottom:2px dotted #ccc;
	letter-spacing:-.1pt;
}

h2 {
	font-size:17px;
	margin:0px 0px 10px 0px;	
}

h3 {
	font-size:15px;
	margin:0px 0px 5px 0px;	
}

h4 {
	font-size:14px;
	margin:0px 0px 1px 0px;	
}

h5 {
	font-size:13px;
	margin:0px 0px 1px 0px;	
}


h6 {
	font-size:11px;
	margin:0px 0px 1px 0px;	
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration:none;
}

/**** Links ****/
a, a:link, a:active, a:visited, a:hover {
	color:#222;
	text-decoration:none;
	border:none;
}
a:hover {
	color:#a50101;
	text-decoration:underline;	
}

/**** Forms ****/
.form-left {
	float:left;
	width:67%;
	padding-right:2%;
}
.form-right {
	float:left;
	width:31%;
}
.form-right input[type=text], .form-right input[type=password], .form-right input[type=email], .form-right input[type=url], .form-right textarea {
	width:200px;
}
.form-right input[type=text].date {
	width:80px;
}
.form-collapsible {
	margin-bottom:10px;	
}
.form-collapsible-heading {
	width:262px;
}
.form-collapsible-heading a {
	background-color:#f5f5f5;
	padding:5px 18px;
	line-height:12px;
	border:1px solid #ccc;
}
.form-collapsible-heading a:hover {
	text-decoration:none;
}
.form-collapsible-content {
	display:none;	
	padding:5px 0px;
}

.form-right .form-collapsible-heading {
	width:100%;
}
.form-right .form-collapsible-content {
	border:1px solid #bcbcbc;
	border-top:none;
	padding:12px 12px 10px 18px;
}

/**** Tabs ****/
.admin-tabs ul {
   list-style:none;
   margin:0;
   padding:0;
   text-align:center;
	
}
.admin-tabs ul li {
   float:left;
}
.admin-tabs ul li a {
	display:block;
	padding:5px 10px;
	font-size:15px;
	line-height:15px;
	margin:2px 5px;
	background:#eee;
	color:#222;
	text-decoration:none;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1); 
}

#admin-tabs-right ul {
   float:right;
}

/**** Sidebar ****/
#admin-columns {
	width:100%;
}
#admin-columns-left {
	background:#ddd;	
	width:150px;	
}
#admin-sidebar a, #admin-sidebar a:hover {
	display:block;
	color:#000;
	padding:2px 10px;
	background:#eee;
	border-bottom:1px solid #ccc;
	text-decoration:none;
}
#admin-sidebar ul, #admin-sidebar li {
	margin:0px;
	padding:0px;
}
#admin-sidebar li.selected a {
	background:#ddd;	
}
#admin-sidebar ul ul {
	border-bottom:1px solid #ccc;
}
#admin-sidebar li li a, #admin-sidebar li.selected li a, #admin-sidebar li li a:hover {
	background:#f9f9f9;
	padding-left:20px;
	border-bottom:1px solid #f4f4f4;
}
#admin-sidebar li li.selected a, #admin-sidebar li.selected li.selected a, #admin-sidebar li li a:hover {
	background:#fff;
}
/*#admin-sidebar li li.selected a, #admin-sidebar li.selected li.selected a {
	margin-top:-1px;
	margin-right:-2px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}*/

/**** Page ****/
/* Heading - Buttons */
.page-heading-buttons {
	position:relative;
}

.page-heading-buttons ul {
	font-size:12px;
	color:#FFFFFF;
	text-align:right;
	margin-left:auto;
	list-style:none;
	position:absolute;
	margin-top:-34px;
	right:3px;
}

.page-heading-buttons ul li {
	list-style:none;
	float:left;
	margin:0px 2px;
	font-size:12px;
}

.page-heading-buttons ul li a, .page-heading-buttons ul li a:link, .page-heading-buttons ul li a:visited {
	float:left;
	padding:3px 8px;
	font-size:12px;
	line-height:12px;
	text-decoration:none;
	background:#f6f6f6;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

.page-heading-buttons ul li.page-heading-button-selected a {
	background:#cccccc;
}

.page-heading-buttons ul li a:hover {
	background:#d2d2d2;
	color:#444444;
}

.page-heading-buttons li.page-heading-button-separator {
	width:1px;
	margin:1px 2px 0px 3px;
	height:16px;
	border-left:2px dotted #e8e8e8;
}

.page-filters input[type=text].form-input-text, .page-filters input.form-input-text {
	width:175px;
}

/**** Documentation ****/
.documentation h2 {
	font-size:22px;
	margin:10px 0px 2px;
}

.documentation h3 {
	font-size:20px;
	margin:5px 0px 1px;
}

.documentation h4 {
	font-size:17px;
	margin:5px 0px 0px;
}

.documentation h5 {
	font-size:15px;
	margin:3px 0px 0px;
}

.documentation h6 {
	font-size:13px;
	margin:3px 0px 0px;
}

.documentation-toc {
	padding-bottom:10px;
	border-bottom:2px dotted #ccc;
	margin-bottom:10px;
}
.documentation .documentation-toc-heading {
	margin:0px;
	padding:0px;
}
.documentation-toc h2.documentation-toc-heading {
	padding-left:15px;
}
.documentation-toc h3.documentation-toc-heading {
	padding-left:30px;
}
.documentation-toc h4.documentation-toc-heading {
	padding-left:45px;
}
.documentation-toc h5.documentation-toc-heading {
	padding-left:60px;
}
.documentation-toc h6.documentation-toc-heading {
	padding-left:75px;
}

/*##end##*/