/** Styles that apply to the debugging area at the bottom of the page */
#debug {
	border-top:1px dotted #222;
	background:#ffffff;
	padding:5px;
}
#debug, #debug a.toggle-open, #debug a.toggle-closed {
	margin:0px;
	color:#222;
	text-align:left;
	text-decoration:none;
	font-size:12px;
	font-weight:normal;
	font-family:"Courier New", Courier, monospace;
}
#debug a.toggle-open, #debug a.toggle-closed {
	padding:1px 5px 1px 18px;
	display:block;
	background:url(../images/toggle_closed.png) no-repeat 6px center;
}
#debug .toggle-open {
	background:url(../images/toggle_open.png) no-repeat 3px center;
}
.debug_div {
	display:none;
	padding:1px 20px 5px;
}

.debug-query-cached {
	color:#608112;
}
.debug-query-slow {
	color:#b00000;
}
/*##end##*/