/**** Forms ****/
.form-preview-video-thumbs {
	width:265px;	
}
.form-preview-video-thumbs img {
	margin:6px 0px;
}

.form-add-field-inline {
	float:left;
}
.form-add-button {
	margin:2px 0px 0px 0px;
}
.form-add-button .i-text {
	margin:0px;
}
.form-add-button-inline {
	float:left;
	margin:0px 0px 0px 2px;
}

/**** Login ****/
.login-form-label-register {
	display:none;
}
.login-form-lost {
	text-align:center;
}
.login-form-container {
	width:350px;
}

.form-table .login-form-label-either,
.form-row-table .login-form-label-either {
	width:100px;	
}
   
/*##end##*/